{% extends 'base.html' %}
{% block content %}
  <h4>For demo purposes a group, {{gp_name}} has been created and two friends have been added.</h4>
  {% if friend_list  %}
   <div>
    <b>Friend List:</b> [ &nbsp;
     {% for friend in friend_list %}
      <span>{{friend}}</span> &nbsp;
     {% endfor %}
     ]
  <br><br>
  
   </div>
  <hr>
  {% endif %}
  
  <div>
    <h6>Add expenses for the selected group and friend </h6><br>
    <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder= field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-block btn-lg">Add Expense</button>
     </form>
    <br><br>
    <hr>
   
  </div>
  {% endblock %}

    
    