{% extends 'base.html' %}
{% block content %}
    
    <h4>Welcome {{g.user.username}}!</h4>
    <div>
      <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden'%}
          {% for error in field.errors  %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{field.label}}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        
        <button class="btn btn-outline-success btn-block">Add My Message</button>
      </form>
    </div>
    <hr>
    <h4 align="center">Messages:</h4>
    <div class="mt-3">
      
      {% for lst in msg_lst %}
        <div class="row">
          <div class="col-sm-3 msg_header">
            <span><b>Group:</b> {{lst.group_name}}</span>
          </div>
          <div class="col-sm-3 msg_header">
            <span><b>From: </b>{{lst.username}} </span>
          </div>
          <div class="col-sm-6 msg_header">
            <span><b>Date: </b> {{lst.date.strftime('%d %B %Y')}}</span>
          </div>
          
          {% if g.user.username == lst.username %}
          <div class=" col-sm-12 msg_header">
            <span>
            <!-- <form method="POST" action="/messages/{{ lst.msg_id }}/delete"> -->
            &nbsp;<a href="/messages/{{ lst.msg_id }}/delete"><i class="red fa fa-trash">&nbsp;Delete</i></a>
            <!-- </form> -->
            </span>
          </div>
          {% else %}
          <div class="text-muted  col-sm-12 msg_header">
          <span>
            <!-- <form method="POST" action="/messages/{{ lst.msg_id }}/delete"> -->
            &nbsp;<i class="text-muted fa fa-trash">&nbsp;Delete</i>
            <!-- </form> -->
            </span>
          </div>
          {% endif%}
        
          <div class="text col-md-12">
            <div class="p-2">{{lst.text}}</div>
          </div>
        </div>
      
      {% endfor %}
     
     
    </div>

{% endblock %}